<%= form_with(model: coordinate, local: true) do |form| %>
  <% if coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour, id: :coordinate_colour %>
  </div>

  <div class="field">
    <%= form.label :x %>
    <%= form.number_field :x, id: :coordinate_x %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.number_field :y, id: :coordinate_y %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :coordinate_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
