<p id="notice"><%= notice %></p>

<h1>Coordinates</h1>
<p>Total number of coordinates: <%= @coords_num %></p>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Colour</th>
      <th>X</th>
      <th>Y</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @latest_coords.each do |coordinate| %>
      <tr>
        <td><%= coordinate.id %></td>
        <td><%= coordinate.colour %></td>
        <td><%= coordinate.x %></td>
        <td><%= coordinate.y %></td>
        <td><%= coordinate.user_id %></td>
        <td><%= link_to 'Show', coordinate %></td>
        <td><%= link_to 'Edit', edit_coordinate_path(coordinate) %></td>
        <td><%= link_to 'Destroy', coordinate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinate', new_coordinate_path %>
